* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button, input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic"), url(/fonts/Century\ Gothic.ttf);
}
@font-face {
  font-family: "Mak";
  font-style: normal;
  font-weight: normal;
  src: local("Mak"), url(/fonts/MAK.otf);
}
body {
  height: 100%;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.header {
  position: relative;
}
.header::after {
  content: "";
  background: url(./../img/block-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 465px;
  height: 684px;
  position: absolute;
  top: 20%;
  left: 45%;
}

.nav__row {
  padding-top: 62px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  transition: color 0.2 ease-in;
}
.navigation a {
  font-size: 18px;
}
.navigation a:hover {
  color: #31D6C9;
}

.telephone {
  font-size: 18px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.header__text {
  margin-top: 166px;
  max-width: 690px;
  position: relative;
  z-index: 1;
}
.header__text p {
  font-size: 24px;
  line-height: 1;
}

.header__title {
  font-family: "Mak";
  font-size: 52px;
  line-height: 1.6;
  margin-bottom: 23px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 427px;
  height: 67px;
  background-color: #31D6C9;
  margin-top: 65px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.button img {
  margin-left: 10px;
}
.button:hover {
  box-shadow: 4px 4px 8px 10px rgba(0, 0, 0, 0.2);
}

.header__info {
  margin-top: 44px;
  position: relative;
  z-index: 1;
}

.section {
  overflow: hidden;
}

@media (min-width: 767px) {
  .section {
    display: flex;
  }
}
.section__img img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .section__img {
    flex: 0 0 50%;
    transform: translate(0%, -100px);
  }
}
.section__content {
  flex: 0 100% 0;
  display: flex;
}

.section__conteiner {
  max-width: 1340px;
  padding: 0px 20px;
  background: #31D6C9;
  display: flex;
}

.section__body {
  width: 85%;
}

.section__list-ul {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
}/*# sourceMappingURL=main.css.map */